div {
    border-style: solid;
    border-width: 2px;
    padding: 40px;
}

.container {
    border-color: white;
    border-style: solid;
    border-width: 5px;
    background-color: black;
}

.row {
    border-color: purple;
}

.list-group-item {
    border: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

body {
    background-image: url(http://www.larklane.com/students2010/zhanpengao%202010/image/City_Background_by_HyperFoxX.jpg)
}

h1 {
    color: white;
}

p {
    color: white;
}